.header-container {
  width: 100dvw;
  height: 90px;
  background-color: #462500;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-link {
  height: 50px;
  font-weight: 600;
  margin: 0 15px;
}

.nav-link.active {
  background-color: #5f3300 !important;
  border: 2px solid #794000 !important;
}

.user-icon {
  position: absolute;
  left: 96dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #5f3300;
  border: 2px solid #794000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-icon:hover {
  background-color: #794000;
  border-color: #8b4500;
}

.user-icon-svg {
  color: #fffbeb;
  width: 25px;
  height: 25px;
}
